/vendor/
node_modules/
npm-debug.log
yarn-error.log

/public/storage
/public/hot
/public/build
/storage/*.key
/storage/debugbar.*

.env
.env.backup
.env.production
.phpunit.cache
*.cache
.DS_Store
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
